<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Duck Trading</title>
</head>
<body>
    <h1>Duck Trading</h1>
    <div id="registrationsection">
        <div id="registerbanner">
            <h4>Register</h4>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="register" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email_address">Email</label>
                <input type="email" name="email_address" id="email_address" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm pw</label>
                <input type="password" name="confirm_password" id="password" class="form-control" required>
            </div>
            <input type="Submit" name="Register" id="register" value="Register">
        </form>
    </div>


    <div id="loginsection">
        <div id="loginbanner">
            <h4>Login</h4>
        </div>
        <form action="login" method='POST'>
            {% csrf_token %}
            <div class="form-group">
                <label for="email_address">Email</label>
                <input type="email" name="email_address" id="email_address" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div>
                <input type="Submit" name="Login" id="login" value="Login">
            </div>
        </form>
    </div>
</body>

</html>